<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="action_wechat_enterprise_account" model="ir.actions.act_window">
            <field name="name">企业账号</field>
            <field name="res_model">wechat.enterprise.account</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_enterprise_message" model="ir.actions.act_window">
            <field name="name">企业消息</field>
            <field name="res_model">wechat.enterprise.message</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_enterprise_user" model="ir.actions.act_window">
            <field name="name">通讯录</field>
            <field name="res_model">wechat.enterprise.user</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_enterprise_application" model="ir.actions.act_window">
            <field name="name">应用</field>
            <field name="res_model">wechat.enterprise.application</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_enterprise_filter" model="ir.actions.act_window">
            <field name="name">过滤器</field>
            <field name="res_model">wechat.enterprise.filter</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        <record id="action_wechat_enterprise_template" model="ir.actions.act_window">
            <field name="name">过滤器模板</field>
            <field name="res_model">wechat.enterprise.template</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>
        
        <record model="ir.actions.client" id="wechatusers_updates_act">
            <field name="name">Wechat Users Updates</field>
            <field name="tag">fornoNull</field><!--this is just temporary-->
            <field name="params">{}</field>
        </record>
		
        <menuitem id="menuitem_wechat_enterprise_root" name="微信企业号" sequence="60"/>
		
        <menuitem id="menuitem_wechat_en_message" name="消息" parent="menuitem_wechat_enterprise_root" sequence="50"/>
        <menuitem id="menuitem_wechat_en_message_manage" name="所有消息" parent="menuitem_wechat_en_message"  sequence="20"
                action="action_wechat_enterprise_message"/>

        <menuitem id="menuitem_wechat_en_user" name="通讯录" parent="menuitem_wechat_enterprise_root" sequence="60"/>
        <menuitem id="menuitem_wechat_en_user_manage" name="所有用户" parent="menuitem_wechat_en_user"  sequence="20"
                action="action_wechat_enterprise_user"/>
		<menuitem id="menu_wechatusers_updates" name="Update info" parent="menuitem_wechat_en_user" sequence="90" 
				action="wechatusers_updates_act"/>
		
        <menuitem id="menuitem_wechat_en_filter" name="过滤器" parent="menuitem_wechat_enterprise_root" sequence="70"/>
        <menuitem id="menuitem_wechat_en_filter_manage" name="过滤器" parent="menuitem_wechat_en_filter"  sequence="20"
                action="action_wechat_enterprise_filter"/>
        <menuitem id="menuitem_wechat_en_template_manage" name="过滤器模板" parent="menuitem_wechat_en_filter"  sequence="30"
                action="action_wechat_enterprise_template"/>

        <menuitem id="menuitem_wechat_enterprise_config" name="设置" parent="menuitem_wechat_enterprise_root" sequence="100"/>

        <menuitem id="menuitem_wechat_en_account" name="账户" parent="menuitem_wechat_enterprise_config" sequence="20"
                action="action_wechat_enterprise_account"/>
        <menuitem id="menuitem_wechat_en_application" name="应用" parent="menuitem_wechat_enterprise_config" sequence="30"
                 action="action_wechat_enterprise_application"/>
    </data>
</openerp>